:root {
  --main-title-color: #212121;
  --secondary-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-bottom: 94px;
}

img {
  display: block;
}

/*-----HEADER-----*/
.header {
  border-bottom: 1px solid #ececec;
}
.nav-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-accent {
  color: #000000;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}
.header-list .link.current {
  color: var(--accent-color);
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-right {
  display: flex;
  margin-left: auto;
}

.header-right .contacts-item + .contacts-item {
  margin-left: 50px;
}

.header-link-contacts:hover,
.header-link-contacts:focus {
  color: var(--accent-color);
}

.header-link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-navigation {
  display: flex;
}
.header-logo.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

/*-----HERO-----*/

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

h1 {
  max-width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-title-color);
}

.btn {
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 32px 10px 32px;
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}
/*-----BENEFITS-----*/
.benefits-list {
  display: flex;
}
.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}
.benefits-item {
  width: 270px;
}
.benefits-section {
  margin-top: 0px;
  padding-top: 94px;
}
.benefits-item-header {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.benefits-item-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*-----WORK-----*/

.work-section {
  margin-top: 0px;
}

.work-list {
  display: flex;
}

.work-item {
  width: 370px;
}

.work-list .work-item + .work-item {
  margin-left: 30px;
}

.work-header {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
/*-----COMMAND-----*/
.command-section {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.command-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.command-list .command-item + .command-item {
  margin-left: 30px;
}
.command-item {
  background-color: #ffffff;
  width: 270px;
}
.command-header {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.command-item-header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.command-item-text {
  margin-top: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.command-item-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*----FOOTER------*/
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
p {
  margin: 0px 0px 0px 0px;
}
.footer {
  background-color: #2f303a;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-accent {
  color: #ffffff;
}

.address {
  font-style: normal;
}

.footer-address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.mail-li {
  margin-bottom: 9px;
}
.footer-mail,
.footer-tel {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*-----PORTFOLIO-----*/
h3 {
  margin: 0px 0px 0px 0px;
}
.section-portfolio {
  padding-top: 94px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item-list + .btn-item-list {
  margin-left: 8px;
}
.btn-item {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}

.btn-item:hover,
.btn-item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.works-container {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.works-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.works-item:nth-child(3n) {
  margin-right: 0px;
}
.works-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-item-header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.works-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
